<div class="detail_container">

    <h2 class="h2_default">General Information</h2>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>

    <h2 class="h2_default">General Information</h2>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>
    <div class="data_cell">
        <h2 class="h2_low_emphasis">Label</h2>
        <h2 class="h2_default">Result</h2>
    </div>
</div>

@code {

}
