@page "/"
@using Ravn.BlazorClient.Component

<div class="character_list_container">
    <ul class="person_list">
        <li class="person_cell">
            <h2 class="h2_default">Luke Skywalker</h2>
            <p class="p1_low_emphasis">Human from Tastooine</p>
        </li>
        <li class="person_cell">
            <h2 class="h2_default">Luke Skywalker</h2>
            <p class="p1_low_emphasis">Human from Tastooine</p>
        </li>
        <li class="person_cell">
            <h2 class="h2_default">Luke Skywalker</h2>
            <p class="p1_low_emphasis">Human from Tastooine</p>
        </li>
        <li class="loader">
            <div class="indicator">
                <img src="/css/images/loader.gif" />
                <h2 class="h2_low_emphasis">Loading</h2>
            </div>
        </li>
        <li class="loader">
            <div class="indicator">
                <h2 class="h2_high_emphasis">Failed to Load Data</h2>
            </div>
        </li>
    </ul>
</div>

@*<PersonDetailComponent></PersonDetailComponent>*@
<EmptyState></EmptyState>